
.intro-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.intro-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.intro-col-wrapper h2 {
  color: $grey-color;
}

.intro-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.intro-col-2 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}
